.feedPage {
  margin: 20px auto;
  width: 1004px;
}

.feedContainer {
  float: left;
  width: 702px;
  height: 100px;
}

.feedElement {
  border: 1px solid #eeeff2;
  background-color: #ffffff;
  width: 700px;
  height: auto;
  margin-bottom: 20px;
}

.feedElement.introduction {
  padding: 20px;
  width: 660px;
}

.feedElement.introduction h4,
.feedElement.introduction p {
  line-height: 1.4em;
  text-align: center;
}

.feedElement.introduction h4 {
  margin-bottom: 20px;
  text-transform: capitalize;
  font-size: 24px;
  color: #0099e5;

}

.feedElement.introduction p {
  color: #71767a;
  font-size: 16px;
  margin-bottom: 10px;
}

/* This fixes an issue with Safari, where the bottom margin would not be reached otherwise. However, we need to scroll past that to trigger the infinite feed loader. */
.feedScrollFix {
  display: block;
  height: 1px;
  min-height: 1px;
  border: 1px solid transparent;
}


.sideBar {
  float: right;
  width: 282px;
}

.userInfoBlock {
  width: 280px;
  border: 1px solid #eeeff2;
  background-color: #ffffff;
}

.userNameBlock {
  height: 70px;
  border-bottom: 1px solid #eeeff2;
  color: #71767a;
}

.userStatsBlock ul {
  text-align: center;
}

.userStatsBlock li {
  width: 66px;
  float: left;
  display: inline-block;
  text-transform: uppercase;
  font-size: 11px;
  padding: 13px;
  border-right: 1px solid #eeeff2;
  color: #71767a;
}

.userStatsBlock li:last-child{
  border-right: none;
}


.userStatsBlock h4 {
  font-size: 20px;
}
