.zoomHover:hover {
  cursor: zoom-in;
}

.fullscreenPhotoModal {

}

.fullscreenPhotoModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);

  cursor: zoom-out;
}

.fullscreenPhoto {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 95%;
  max-height: 95%;
  overflow: auto;
  border-radius: 7px;

  cursor: zoom-out;
}
