.photo img {
  width: 700px;
  height: auto;
}

.photoDescription,
.photoInfo {
  padding: 15px;
}

.photoInfo .userBadge {
  float: left;
  width: 585px;
}

.photoInfo .likeContainer {
  float: right;
  text-align: right;
  width: 85px;
  height: 34px;
}

.photoDescription {
  border-top: 1px solid #eeeff2;
}

.likeButton {
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  background-color: #ff4c4c;
  border: 1px solid #ff3333;
  border-radius: 3px;
  padding: 0px 10px;
  height: 32px;
  min-width: 60px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  transition: all 0.20s ease-in-out;
  text-shadow: 0px 1px 0px #ff3333;
}

.likeButton.liked {
  background-color: #525558;
  border-color: #46484b;
  text-shadow: 0px 1px 0px #46484b;
}

.likeButton:hover {
  background-color: #f64d54;
  cursor: pointer;
}

.likeButton.liked:hover {
  background-color: #4c4f52;
  cursor: pointer;
}
