.searchFieldHome  {
  display: inline-block;
  font-size: 14px;
  width: 410px;
  margin-right: 200px;
  border: 1px solid #eaebef;
  background-color: #f5f7f9;
  border-radius: 20px;
  padding: 5px 15px;

  transition: all 0.20s ease-in-out;
}


.searchFieldHome:focus {
  border: 1px solid #0099e5;
  background-color: #ffffff;
  outline: none;
}

.hiddenSubmit {
  display: none;
}

.searchBar {
  background-color: #ffffff;
  border-bottom: 1px solid #eaebef;
  color: #404346;
  display: flex;
}

.searchInput {
  padding: 21px 50px;
  border: none;
  font-size: 24px;
  outline: none;
  flex-grow: 1;
}

.searchButton {
  color: #fff;
  background: #1d80d7;
  width: 70px;
  border: none;
  font-size: 24px;
}

.searchButton:hover {
  background: #0099e5;
}

.searchCategories {
  width: 90px;
  line-height: 70px;
  text-align: center;
}

.searchCategories ul {
  display: none;
}

.searchCategories:hover > ul {
  display: block;
}


.searchResults {
  margin: 15px auto;
  padding-bottom: 50px;
  background-color: #f5f7f9
}

.searchResultsPhotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 60%;
  max-width: 90%;
}

.searchResultsUsers {
  width: 80%;
}

.userMiniContainer {
  width: 280px;
  height: 280px;
  border: 1px solid #eaebef;
  border-radius: 3px;
  margin: 10px;
  display: inline-block;
  background-color: #ffffff;
}

.userMiniCover {
  height: 129px;
  border-bottom: 1px solid #eaebef;
  background-color: #9ea5ad;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.userMiniProfilePicture {
  margin: -30px auto 0px auto;
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
  z-index: 100;
}

.userMiniDetails {
  height: 120px;
  text-align: center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.userMiniDetails h1 {
  font-size: 20px;
  padding: 10px;
}

.userMiniDetails h2 {
  font-size: 14px;
  color: #acb4bc;
  margin-bottom: 10px;
}

.noSearchResults {
  margin: 0 auto;
  width: 400px;
  background-color: #ffffff;
  border: 1px solid #eaebef;
  font-size: 16px;
  text-align: center;
  padding: 30px;
}
