.ModalClass {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 580px;
  height: 600px;

  background: #f6f7f9;
  border-radius: 3px;

  transition: all 0.2s ease-in-out;
}

.OverlayClass {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  transition: all 0.2s ease-in-out;
}

.modalInputRow {
  display: flex;
  justify-content: space-between;
}

.modalInputRowRight {
  display: flex;
  justify-content: flex-end;
}

.modalCoverImage {
  min-height: 130px;
  max-height: 130px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  z-index: 1;
}

.modalCoverImage label,
.modalProfilePicture label {
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 100px;
  color: #fff;
  text-shadow: 0 0 2px rgba(0,0,0,0.8);
  text-rendering: optimizeLegibility;
  font-size: 16px;
}

.modalCoverImage label:hover,
.modalProfilePicture label:hover {
  color: #00aaff;
}

.modalCoverImage label {
  height: 130px;
}

.modalProfilePicture {
}

.modalProfilePicture label {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}



.modalForm {
  margin-top: -25px; /* to accomodate profile picture */
  padding: 20px;

}

.modalForm label {
  margin-top: 20px;
  display: block;
  color: #0099e5;
}

.modalForm textarea,
.modalForm input {
  padding: 5px 10px;
  font-size:16px;
  font-weight: lighter;
  color: #797076;
  border: 1px solid #eaebef;
  border-radius: 3px;
  margin: 10px 0px;
  outline-style: none;
  outline-width: 0px;

  transition: all 0.20s ease-in-out;
}

.modalForm input {
  width: 240px;
  height: 26px;
}

.modalForm textarea:focus,
.modalForm input:focus {
  border: 1px solid #3185df;
}

.modalForm textarea {
  width: 518px;
  height: 113px;
}

.modalFormCancelButton {
  color: #71767a;
  background-color: transparent;
  border: none;
  padding: 0px 10px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;

  transition: all 0.20s ease-in-out;
  margin-left: 20px;
}

.modalFormCancelButton:hover {
  color: #3185df;
  cursor: pointer;
}

.modalFormGreenButton {
  color: #fff;
  font-weight: bold;
  background-color: #2fb738;
  border: 1px solid #2a9f32;
  border-radius: 3px;
  padding: 0px 20px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;

  transition: all 0.20s ease-in-out;
  text-shadow: 0px 1px 0px #2fab41;
  margin-left: 20px;

}

.modalFormGreenButton:hover {
  background-color: #39c544;
  cursor: pointer;
}
