.userProfile {
  background: #ffffff;
}

.coverImage {
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 200px;
  max-height: 500px;
  border-bottom: 1px solid #eaebef;
}

.profilePictureLarge {
  margin: -50px auto 0px auto;
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.profileButtons {
  float: right;
  padding: 10px;
  margin-top: -50px; /* required to accomodate space for profile picture */
}

.profileButton {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  background-color: #0099e5;
  border: 1px solid #0088cc;
  border-radius: 3px;
  padding: 0px 10px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;

  transition: all 0.20s ease-in-out;
  text-shadow: 0px 1px 0px #0088cc;
}

.profileButton:hover {
  background-color: #00aaff;
  cursor: pointer;
}

.profileButton.followed {
  background-color: #3bb821;
  border: 1px solid #34a11d;
  text-shadow: 0px 1px 0px #34a11d;
  content: "Followed";
}

.profileButton.followed::after {
  content: "Followed";
}

.profileButton.followed:hover {
  background-color: #f64f50;
  border: 1px solid #f61d21;
  text-shadow: 0px 1px 0px #f61d21;
  content: "Unfollow";
}

.profileButton.followed:hover::after {
  content: "Unfollow";
}

.profileButton.notfollowed::after {
  content: "Follow";
}


.userInfo {
  margin-top: -50px;  /* required to accomodate space for profile picture */
  padding: 55px;
  text-align: center;
  border-bottom: 1px solid #eaebef;
}

.userInfo h2 {
  font-size: 30px;
  padding: 25px;
}

.userInfo ul {
  margin: 0 auto;
}
.userInfo li {
  color: #b9c1c7;
  display: inline-block;
  padding: 0px 10px;
}

.userInfo span {
  font-weight: bold;
}

.subNavigation {
  margin: 0 auto;
  background-color: #ffffff;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #eaebef;
}

.subNavigation ul {
  text-align: center;
}

.subNavigation li {
  display: inline-block;
  margin: 0 13px;
  color: #71767a;
}

.subNavigation li:hover {
  color: #0099e5;
}

.subNavigation li>a {
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px 0;
  height: 50px;
  border-bottom: 2px solid transparent;
}

.subNavigation li>a.active {
  color: #0099e5;
  border-bottom: 2px solid #0099e5;
}

.userPhotos {
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  min-width: 60%;
  max-width: 90%;
  padding-bottom: 50px;

}

.userPhoto {
  margin: 5px;
  max-height: 250px;
  object-fit: cover;
  flex-grow: 2;
  flex-shrink: 2;
}

.userAbout {
  margin: 65px auto;
  width: 600px;
  padding-bottom: 65px;
}

.userAbout h3 {
  color: #0099e5;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.userAbout p {
  margin-bottom: 20px;
}
