body {
  font-family: sans-serif;
}

.mainLogo {
  float: left;
  width: 80px;
  height: 20px;
  padding: 10px;
}

.home-header {

}

.home-header ul {
  float: right;
}

.home-header li {
  float: left;
  padding: 10px;
}

.session-form {
  margin: 0 auto;
  width: 240px;
}

.session-form h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.session-form button,
.session-form input {
  width: 240px;
  margin-bottom: 10px;
}
