body {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #414346;
  font-size: 14px;
  background-color: #f6f7f9;
}

a {
  color: #3185df;
}

.logoImg {
  float: left;
  width: 160px;
  height: 40px;
  padding: 5px 20px 5px 40px;
}

.home-header {
  height: 50px;
  background-color: #ffffff;
  border-bottom: 1px solid #eaebef;
}

.home-header ul {
  float: right;
  padding-right: 30px;
}

.home-header li {
  float: left;
  transition: all 0.20s ease-in-out;
}

.home-header li:hover {
  color: #3185df;
}

.green {
  color: #fff;
  background-color: #2fb738;
  text-shadow: 0px 1px 0px #2fab41;
}

.green :hover {
  background-color: #39c544;
}

.home-header a {
  padding: 18px 20px;
  letter-spacing: -0.0025em;
  font-weight: normal;
  display: block;
  color: inherit;
}

.error-wrapper {

}

.errorPopup {
  position: absolute;
  top: 0px;
  left:0;
  right:0;
  width: 550px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left:auto;
  margin-right:auto;

  background: rgb(251, 75, 82);
}

.errorPopup li {
  color: #ffffff;
  font-weight: normal;
  padding: 13px 40px;
}
