body {
  font-family: sans-serif;
  color: #414346;
  font-size: 14px;
  background-color: #f6f7f9;
}

.logoImg {
  float: left;
  width: 160px;
  height: 40px;
  padding: 5px 20px 5px 40px;
}

.home-header {
  height: 50px;
  background-color: #ffffff;
  border-bottom: 1px solid rgb(238, 239, 242);
}

.home-header ul {
  float: right;
  padding-right: 30px;
}

.home-header li {
  float: left;
}

.home-header li:hover {
  color: #3185df;
}

.green {
  color: #f1fbf1;
  background-color: #2fb738;
}

.green :hover {
  background-color: #39c544;
}

.home-header a {
  padding: 18px 20px;
  display: block;
  color: inherit;
}


.session {
  margin: 0 auto;
  width: 240px;
}

.session form {
  margin: 0 auto;
  width: 240px;
}

.session p,
.session h2 {
  text-align: center;
}

.session h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.session button,
.session input {
  width: 240px;
  margin-bottom: 10px;
}

.errorPopup {
  position: absolute;
  top: 0px;
  background: rgb(251, 75, 82);
}
